@charset "UTF-8";
 
.masthead {
	background:inherit;
	background-color: #d31421;
}

.tying{
	color : white;
	font-weight: bold;
	display:inline; 
	word-wrap: break-word;
	white-space: pre-wrap;
}
.blink{
	animation: blink 1s infinite;
	display:inline; 
}

.text-container {
	position: relative;
	font-size: 40vh;
	font-weight: bold; 
	color: white;
	text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	opacity: 0;
	transform: translateY(-200px) scale(1.5);
}

.main_bg{
	max-height : 100%;
	margin-right : -80vh;
}

.letter{
	position:fixed;
	top : 30vh;
	left : -25vw; 
	width : 50vw; 
	height : 10vh;
	font-size : 30px;
}

.icon{
	width : 40px;
	height: 40px;
	border-radius:50%;
	margin-right : 20px;
	filter: grayscale(100%);
}


.effect {
	animation: fall 1s cubic-bezier(0.3, 1.5, 0.3, 1) forwards
} 

.fade-in-image {
	height: 100vh;
	opacity: 0; /* 초기 투명 상태 */
	transform: scale(1); /* 살짝 축소된 상태 */
	animation: fadeIn 4s ease-out forwards;
	 
}

.about-section .form-address input {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    height: auto;
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
}

.form-address p{
	color: #cecece;
}

.submitButton{
	margin-right: 5px;
}

.faq-section{
	padding: 10rem 0;
    background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
}

.accordion-body{
	text-align: left;
}

.pull-right{
	float: right;
}

.sns_icon{
	margin-right: 3px;
}

.img-fluid{
	width: 612px; 
}
 
@keyframes blink {
  to {
	opacity: 0;
  }
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	100% {
		opacity: 1;
		transform: scale(1.1);
	}
}

@keyframes fall {
	0% {
		opacity: 0;
		transform: translateY(-200px) scale(2);
	}
	50% {
		opacity: 1;
	}
	80% {
		transform: translateY(0) scale(1);
	}
	90% {
		transform: translateY(-10px) scale(1.05);
	}
	100% {
		transform: translateY(0) scale(1);
	}
}


 